[submodule ".deps/github.com~virtualcloud-io~virtualcloud-for-pio.profile~0/source/installed/master"]
	path = .deps/github.com~virtualcloud-io~virtualcloud-for-pio.profile~0/source/installed/master
	url = git@github.com:virtualcloud-io/virtualcloud-for-pio.profile.git
